@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Poppins:wght@200;300;400&family=Quattrocento+Sans&display=swap");
/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #12141d;
  color: #eeeeee;
}
a {
  text-decoration: none;
  color: #eeeeee;
  transition: 0.3s;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
}
img {
  width: 100%;
}
.badge {
  padding: 10px;
  background: #299869;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 0;
}
.clear {
  clear: both;
}
/* BUTTONS */
.btn {
  letter-spacing: 1px;
  font-size: 19px;
  border-radius: 0;
  padding: 1rem 2rem;
}
.btn-outline-primary {
  color: #00bd6e;
  border-color: #00bd6e;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #009858;
  border-color: #009858;
}
.btn-primary {
  color: #ffffff;
  background-color: #00bd6e;
  border-color: #00bd6e;
}
.btn-primary:hover {
  color: #fff;
  background-color: #009858;
  border-color: #009858;
}

.btn:active {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.btn-check:active + .btn:focus,
.btn-check:checked + .btn:focus,
.btn.active:focus,
.btn.dropdown-toggle.show:focus,
.btn:active:focus {
  box-shadow: none;
}
.btn:focus {
  background-color: #009858;
  border-color: #009858;
  box-shadow: none;
}
/* BUTTONS */

/* HEADINGS */
.title {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Quattrocento Sans";
}
.full-title h2 {
  float: left;
}
.full-title h4 {
  float: right;
}
.topic {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Cormorant Garamond";
  letter-spacing: 2px;
}
.paragraph {
  font-size: 17px;
  font-weight: 200;
  font-family: "Poppins";
  letter-spacing: 2px;
  line-height: 2rem;
}
.colorful-text {
  font-size: 16px;
  font-weight: 300;
  font-family: "Poppins";
  color: #ccff00;
  letter-spacing: 2px;
  line-height: 2rem;
}
/* FOOTER */
footer {
  margin-top: 5rem;
  padding: 2rem;
  background: #1e2028;
}
.copyright {
  float: left;
  color: #dddddd;
  letter-spacing: 2px;
  font-size: 18px;
}
.powered {
  float: right;
  color: #dddddd;
  letter-spacing: 2px;
  font-size: 18px;
}
/* FOOTER */

/* NAVBAR */
.navbar {
  padding: 1rem;
}
.navbar-light .navbar-brand {
  font-size: 3rem;
  letter-spacing: 2px;
  color: #00bd6e;
  font-family: "Cormorant Garamond";
}
.navbar-light .navbar-brand:hover {
  color: #299869;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Quattrocento Sans";
  color: #dddddd;
  padding-left: 1rem;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #00bd6e;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #00bd6e;
}
.navbar-nav button {
  margin-left: 15px;
}

/* HAMBURGER */
.navbar-toggler {
  border: none !important ;
  outline: none !important;
}
.navbar-toggler:focus {
  box-shadow: none;
}

#nav-line .line {
  width: 50px;
  height: 5px;
  background-color: #fff;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
#nav-line:hover {
  cursor: pointer;
}
#nav-line.is-active .line:nth-child(2) {
  opacity: 0;
}
#nav-line.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}
#nav-line.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

/* NAVBAR */

/* COVER */
#home-cover {
  margin-top: 10rem;
}

.home-text-panel {
  padding: 1rem;
}
.home-text-panel h6 {
  margin-top: 1rem;
}
.home-text-panel button {
  margin-top: 2rem;
}
.home-img-panel img {
  filter: brightness(0.7);
}
/* COVER */

/* QUOTE */
#home-quote {
  margin-top: 10rem;
}
#home-quote h3 {
  text-align: center;
}
/* QUOTE */

/* OBJECTIVE */
#home-objective {
  margin-top: 10rem;
}
.objective-card {
  background: #1e2028;
  padding: 2rem;
  border-radius: 10px;
  transition: 0.5s;
}
.objective-card:hover {
  transform: scale(1.06);
}
.objective-card h5 {
  color: #aaa;
  font-size: 23px;
}
.objective-card h5 b {
  color: #fff;
  font-size: 25px;
}
/* OBJECTIVE */

/* WORKS */
#home-work {
  margin-top: 10rem;
}
/* WORK CARD */
.work-card {
  margin-bottom: 4rem;
}
.work-card img {
  height: 23rem;
}
.work-card h4 {
  padding-left: 5px;
  margin-top: 1rem;
  letter-spacing: 1px;
  font-size: 25px;
}
/* WORK CARD */

#home-work h2 {
  float: left;
}
#home-work ul {
  float: right;
}

#pills-tab li {
  place-content: flex-end;
}
.nav-pills .nav-link {
  letter-spacing: 1px;
  font-size: 18px;
  border-radius: 0;
  color: #fff;
}
.nav-pills .nav-link.active {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}
/* WORKS */

/* BLOGS */
#home-blogs {
  margin-top: 10rem;
}
.blog-card {
  width: 100%;
  background: #1e2028;
  border-radius: 10px;
  transition: 0.5s;
  margin-top: 3rem;
}
.blog-img {
  overflow: hidden;
  filter: brightness(0.7);
  border-radius: 10px 10px 0 0;
}
.blog-img img {
  width: 100%;
  transition: 0.5s;
}
.blog-img img:hover {
  transform: scale(1.05);
}
.blog-description {
  padding: 1rem;
}
.blog-description a h3 {
  font-size: 2rem;
  margin-top: 1rem;
}
.blog-footer {
  margin-top: 1rem;
}
.blog-footer span {
  letter-spacing: 1px;
  color: #aaaaaa;
}
/* BLOGS */

/* NEWSLETTER */
#newsletter {
  margin-top: 10rem;
}
.newsletter-box {
  padding: 5rem;
  background: #1e2028;
}
.newsletter-box h3 {
  margin-top: 1rem;
}
.newsletter-form form {
  margin-top: 3rem;
}
.newsletter-form input {
  background: #2c2f3b;
}
/* NEWSLETTER */

/********** HOME PAGE **********/

/********** ABOUT PAGE **********/
/* COVER */
#about-cover {
  margin-top: 5rem;
}
.about-image img {
  height: 40rem;
  filter: brightness(0.6);
}
.about-text {
  height: 40rem;
  padding: 7rem 5rem;
  background: #1e2028;
}
.about-text h2 {
  margin-top: 0.7rem;
}
.about-text h6 {
  padding: 0 10rem 0 0;
  margin-top: 2rem;
}
/* COVER */

/* COMPLIMENT */
#compelement {
  margin-top: 10rem;
}
.compliment-link {
  border-radius: 10px !important;
  padding: 2rem;
  margin-bottom: 1rem;
  background: #1e2028;
}
#v-pills-tabContent {
  border-radius: 10px;
  width: 100%;
  background: #1e2028;
  padding: 2rem;
}
/* COMPLIMENT */

/********** ABOUT PAGE **********/

/********** WORK PAGE **********/
#work-wrapper {
  margin-top: 5rem;
}
.design-slider {
  margin-top: 10rem;
}
.development-slider {
  margin-top: 10rem;
}
.bluepeints-slider {
  margin-top: 10rem;
}
/* CAROUSEL */
.owl-nav {
  position: absolute;
  top: -7.5rem;
  right: 0;
  outline: 0;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: #fff;
  text-decoration: none;
}
.owl-theme .owl-nav [class*="owl-"]:focus {
  outline: 0;
}
.owl-prev span {
  font-size: 40px;
  padding: 0 20px 10px;
  background: #555;
}
.owl-next span {
  font-size: 40px;
  padding: 0 20px 10px;
  background: #555;
}
.owl-dots {
  /* display: none; */
}
/********** WORK PAGE **********/

/********** BLOG PAGE **********/
#blog-wrapper {
  margin-top: 5rem;
}
.big-blog-card {
  width: 100%;
  height: 27.7rem;
  background: #1e2028;
  border-radius: 10px;
  transition: 0.5s;
  margin-top: 3rem;
}
.big-blog-img {
  height: 27.7rem;
  overflow: hidden;
  filter: brightness(0.7);
  border-radius: 10px 0 0 10px;
}
.big-blog-img img {
  width: 100%;
  height: 27.7rem;
  transition: 0.5s;
}
.big-blog-img img:hover {
  transform: scale(1.05);
}
.big-blog-description {
  padding: 3rem 1rem;
}
.big-blog-description a h3 {
  margin-top: 1rem;
}
.big-blog-footer {
  margin-top: 1rem;
}
.big-blog-footer span {
  letter-spacing: 1px;
  color: #aaaaaa;
}
/********** BLOG PAGE **********/

/********** BLOG DETAIL PAGE **********/
#blog-post-wrapper {
  margin-top: 5rem;
}
.article-details {
  width: 80%;
  margin: 0 auto;
}
.blog-article-head {
  padding: 3rem 1rem;
}
.blog-article-head h3 {
  margin: 2rem 0;
  font-size: 50px;
}
.blog-article-thumbnail img {
  border-radius: 15px;
}
.article-description h3 {
  margin-top: 3rem;
}

/********** BLOG DETAIL PAGE **********/

/********** CONTACT PAGE **********/
#contact-wrapper {
  margin-top: 10rem;
}
.contact-info {
  border-radius: 10px;
  padding: 3rem 2rem;
  background: #1e2028;
}
.contact-info h2 {
  margin-bottom: 2rem;
}
.contact-info h5 {
  margin-top: 1.5rem;
  color: #cccccc;
}
.social-icon {
  margin-top: 2rem;
}
.social-icon a {
  margin: 1rem;
}
.social-icon a i {
  padding: 12px;
  border: 1px solid #dddddd;
  color: #dddddd;
  width: 50px;
  height: 50px;
  font-size: 25px;
  text-align: center;
  transition: 0.5s;
  border-radius: 15px;
}
.social-icon a i:hover {
  border-color: #b0ffdd;
  color: #b0ffdd;
}
/* FORM */
.form-control {
  padding: 1.3rem;
  color: #ffffff;
  background-color: #1e2028;
  border: none;
  transition: 0.5s;
  letter-spacing: 2px;
  font-size: 17px;
}
.form-control:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

#contact-newsletter {
  margin-top: 10rem;
}
.contact-news {
  padding: 2rem;
  background: #1e2028;
}
/********** CONTACT PAGE **********/

/********** PRIVACY PAGE **********/
#terms-wrapper {
  margin-top: 10rem;
}
.terms {
  background: #1e2028;
  padding: 2rem;
}
.terms h5 {
  margin-top: 3rem;
  font-size: 35px;
  font-weight: 500;
  font-family: "Cormorant Garamond";
  letter-spacing: 2px;
}
.terms p {
  font-size: 17px;
  font-weight: 200;
  font-family: "Poppins";
  letter-spacing: 2px;
  line-height: 2rem;
}
.terms ul li {
}

/********** PRIVACY PAGE **********/

/********** HIRE PAGE **********/
#hire-wrapper {
  margin-top: 5rem;
}

.hire-welcome {
  font-size: 20px;
  font-family: "Poppins";
  letter-spacing: 2px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
  line-height: 2rem;
}
.hire-form {
  width: 100%;
  padding: 5rem 8rem;
  background-color: #2c2f3b;
}

/********** HIRE PAGE **********/
